html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    height: 100%
}

.left_field{
    background-color: #B2B2B2;
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

.block_body{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    margin: 0px 10px 20px;
    height: 200px;
}

.middle_field{
    background-color: #FFFFFF;
    padding: 15px;
    flex: 4;
}